/* Reset des styles de base */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Couleur de fond plus claire */
  color: #495057; /* Couleur de texte plus foncée */
  min-height: 100vh;
  position: relative;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles du tableau */
table {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ced4da; /* Couleur de la bordure plus douce */
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff; /* Couleur de fond du header */;
  color: #fff;
}

tbody tr:hover {
  background-color: #d6d8db; /* Couleur de fond au survol */
}

td a {
  color: #007bff; /* Couleur du lien */
  text-decoration: none;
  transition: color 0.3s ease;
}

td a:hover {
  color: #dc3545; /* Couleur du lien au survol */
}

/* Styles du pied de page */
.footer-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Styles des boutons */
button {
  background-color: #007bff; /* Couleur du bouton */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Couleur du bouton au survol */
}

/* Styles du formulaire */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ced4da; /* Couleur de la bordure du champ */
  border-radius: 4px;
  resize: none;
}

form button {
  margin-top: 12px;
}

/* Styles des formulaires de modification et d'ajout */
#formulaireAjout,
#formulaireModification {
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.95); /* Fond plus transparent */
  padding: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
